In [1]:
import pandas as pd
import numpy as np

In [2]:
num=12
name= 'sam'

In [7]:
print("my name is {a} and age is {b}".format(a=name,b=num))

my name is sam and age is 12

In [8]:
[1,2,3]

[1, 2, 3]

In [9]:
my_list=['a','b','c']

In [10]:
my_list.append('d')

In [11]:
my_list

['a', 'b', 'c', 'd']

In [12]:
my_list[1:]

['b', 'c', 'd']

In [14]:
my_list[:3]

['a', 'b', 'c']

In [16]:
my_list.sort()

In [17]:
type(my_list)

list

In [18]:
my_list[0]

'a'

In [19]:
type(my_list)

list

In [20]:
nn=my_list

In [22]:
nn[0]='new'

In [23]:

nn

['new', 'b', 'c', 'd']

In [24]:
my_list

['new', 'b', 'c', 'd']

In [25]:
bb=my_list.copy

In [26]:
bb[0]='arnav'

TypeError: 'builtin_function_or_method' object does not support item assignment

In [27]:
bb[0]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [29]:
type(bb)

builtin_function_or_method

In [30]:
print(bb)

<built-in method copy of list object at 0x000001F373C521C8>

In [31]:
nest = [1,2,3,[4,5,['target']]]

In [33]:
nest[3][2][0]

'target'

In [34]:
d={'key1':'item1','key2':'item2'}

In [35]:
d

{'key1': 'item1', 'key2': 'item2'}

In [36]:
type(d)

dict

In [38]:
d.keys()

dict_keys(['key1', 'key2'])

In [39]:
t=(1,2,3)

In [41]:
t[0]

1

In [44]:
if 1<2:print(" a is gr8") else: print('b is small')

SyntaxError: invalid syntax (<ipython-input-44-e1708f4aa457>, line 1)

In [45]:
if 1>2:
    print('a is gr8')
else:
    print('b is small')

b is small

In [49]:
if 1>2:
    print('a is gr8')
elif (1==2):
        print('a and b are equal')
else:
        print('B is small')

B is small

In [50]:
seq=[1,2,3,4,5]

In [52]:
for i in seq:
    print('yup')

yup
yup
yup
yup
yup

In [53]:
range(5)

range(0, 5)

In [59]:
ll=list(range(0,5,2))

In [60]:
ll

[0, 2, 4]

In [61]:
x=[1,2,3,4]

In [62]:
out=[]

In [63]:
for i in x:
    out.append(i*i)

In [64]:
out

[1, 4, 9, 16]

In [66]:
vv=[i*i for i in x]

In [67]:
vv

[1, 4, 9, 16]

In [70]:
def square(x):
    return (x*x)

In [71]:
square(10)

100

In [72]:
def times(i):
    return(i*i)

In [73]:
lambda i:i*i

In [74]:
seq

[1, 2, 3, 4, 5]

In [75]:
map(times,seq)

In [76]:
list(map(times,seq))

[1, 4, 9, 16, 25]

In [77]:
s = "Hi there Sam!"

In [79]:
s.split(' ')

['Hi', 'there', 'Sam!']

In [80]:
planet='earth'; diameter=12345

In [83]:
'the diameter of {a} is {b}'.format(a=planet,b=diameter)

'the diameter of earth is 12345'

In [82]:
planet

'earth'

In [84]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [85]:
lst[3][1][2][0]

'hello'

In [87]:
a='user@domain.com'

In [91]:
a.split('@')[1].split('.')[0]

'domain'

In [98]:
def findDog(a):
    a=list(a.split(' '))
    print(a)
    for i in a:
        print(i)
        if i=='dog':
            return True

In [101]:
findDog('Is there a dog dog here?')

['Is', 'there', 'a', 'dog', 'dog', 'here?']
Is
there
a
dog

True

In [102]:
def findcount(a):
    return a.count('dog')

In [103]:
findcount('This dog runs faster than the other dog dude!')

2

In [104]:
seq = ['soup','dog','salad','cat','great']

In [105]:
out=[]

In [108]:
for i in seq:
    if i[0]=='s':
        print(i)
        out.append(i)

soup
salad

In [109]:
out

['soup', 'salad', 'soup', 'salad']

In [110]:
####numpy array

In [111]:
my_list

['new', 'b', 'c', 'd']

In [112]:
my_list=[1,2,3,4]

In [113]:
np.array(my_list)

array([1, 2, 3, 4])

In [119]:
my_matrix = [[1,2,3.4],[4,5,6],[7,8,9]]

In [120]:
a=np.array(my_matrix)

In [121]:
type(a)

numpy.ndarray

In [122]:
a.dtype

dtype('float64')

In [124]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [128]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [132]:
np.linspace(0,10,2)

array([ 0., 10.])

In [133]:
np.linspace(0,10,50)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

In [141]:
np.random.randint(1,20,2)

array([ 8, 17])

In [142]:
np.linspace(0,50,2)

array([ 0., 50.])

In [143]:
np.arange(0,50,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48])

In [144]:
arr = np.arange(0,11)

In [145]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [146]:
arr[8]

8

In [147]:
len(arr)

11

In [148]:
arr[1:5]

array([1, 2, 3, 4])

In [149]:
arr_copy = arr.copy()

In [150]:
arr_copy

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [155]:
arr_2d = np.array(([5,10,15],[20,25,30],[35,40,45]))

In [156]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [157]:
arr_2d[1][0]

20

In [158]:
arr_2d[1,0]

20

In [160]:
arr_2d[:2,:2]

array([[ 5, 10],
       [20, 25]])

In [165]:
arr_2d[:2,1:]

array([[10, 15],
       [25, 30]])

In [166]:
arr2d = np.zeros((10,10))

In [167]:
arr2d

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [168]:
arr = np.arange(1,11)

In [169]:
arr > 4

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [174]:
arr[arr>4]

array([ 5,  6,  7,  8,  9, 10])

In [181]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [182]:
np.array(10,50)

TypeError: data type not understood

In [184]:
np.arange(10,51)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [188]:
np.arange(10,51,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

In [192]:
np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [193]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [199]:
np.random.rand(1)

array([0.17977076])

In [200]:
np.random.randn(35)

array([-1.66326813,  1.65322788, -0.36037221, -0.14852364, -0.78738306,
        0.01278233, -0.62653839,  0.07829912,  0.09900875, -0.36838842,
       -0.56726504,  0.0142569 , -0.68631281, -0.23477305,  2.9586025 ,
        1.45161194,  1.02778317, -1.94334478,  0.70827836,  0.44060027,
        0.28233662,  0.33526632, -0.01488551,  0.83529975,  1.09558636,
        2.1890212 , -0.95578074, -0.93425155, -1.81881274,  0.59586252,
        1.99336644,  2.08364758, -0.36099758, -0.67104051,  1.19784514])

In [201]:
labels = ['a','b','c']
my_list=[10,20,30]
arr=np.array(my_list)
d={'a':10,'b':20,'c':30}

In [202]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [203]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [204]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [205]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [206]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [207]:
from numpy.random import randn

In [208]:
np.random.seed(101)

In [210]:
df=pd.DataFrame(randn(5,4),index='a b c d e'.split(' '),columns=('w x y z').split(' '))

In [211]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [212]:
df.w

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [213]:
df['w']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [215]:
df[['w','x']]

          w         x
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
d  0.188695 -0.758872
e  0.190794  1.978757

In [216]:
df['new']= df['w']+df['y']

In [217]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [218]:
df.drop('new',axis=1)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [220]:
df.drop('new',axis=1,inplace=True)

In [222]:
df.loc['a']

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [224]:
df.iloc[0][1]

0.6281327087844596

df.iloc[2:]

In [229]:
df.iloc[2:,2:]

          y         z
c  0.528813 -0.589001
d -0.933237  0.955057
e  2.605967  0.683509

In [230]:
df.loc[['a','b'],['x','y']]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077

In [232]:
df.iloc[:2,1:3]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077

In [234]:
df[df > 0]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [235]:
df.reset_index()

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509

In [237]:
newind = 'CA NY WY OR CO'.split()

In [239]:
df['states']=newind

In [240]:
df

          w         x         y         z states
a  2.706850  0.628133  0.907969  0.503826     CA
b  0.651118 -0.319318 -0.848077  0.605965     NY
c -2.018168  0.740122  0.528813 -0.589001     WY
d  0.188695 -0.758872 -0.933237  0.955057     OR
e  0.190794  1.978757  2.605967  0.683509     CO

In [243]:
df.set_index('states')

               w         x         y         z
states
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [248]:
df=pd.DataFrame({'A':[1,2,np.NaN],'B':[5,np.NaN,np.NaN],'C':[1,2,3]})

In [251]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [252]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [254]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [255]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [256]:
data

{'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
 'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
 'Sales': [200, 120, 340, 124, 243, 350]}

In [257]:
pd.Series(data)

Company             [GOOG, GOOG, MSFT, MSFT, FB, FB]
Person     [Sam, Charlie, Amy, Vanessa, Carl, Sarah]
Sales                 [200, 120, 340, 124, 243, 350]
dtype: object

In [261]:
d=pd.DataFrame(data)

In [262]:
g=d.groupby("Company")

In [263]:
g.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [264]:
g.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [270]:
g.describe().transpose()['FB']

Sales  count      2.000000
       mean     296.500000
       std       75.660426
       min      243.000000
       25%      269.750000
       50%      296.500000
       75%      323.250000
       max      350.000000
Name: FB, dtype: float64